@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');


body
 {
    font-family: "Baskervville SC", serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: darksalmon;
  }
  
a{
    text-decoration: none;
    border: 1px solid red;
    margin: 20px;
    padding: 30 px;
    background-color: dodgerblue;
    color: black;
    font-size: 2rem;
}